.contenedor-en-vivo-cats{
    width: 100%;
    display: flex;
}

.titulo-en-vivo h3{
    font-family: Roobert, Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    text-align: start;
    letter-spacing: normal;
    color: #efeff1;
}

.titulo-en-vivo .titulo-en-vivo-cats{
    font-family: Roobert, Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 21.6px;
    text-align: start;
    letter-spacing: normal;
    color: #bf94ff;
    cursor: context-menu;
}

.titulo-en-vivo .titulo-en-vivo-cats:hover{
    text-decoration: underline;
}

.carta-en-vivo-cats{
    max-width: 150px;
    margin-right: 20px;
}

.carta-en-vivo-cats .imagen img{
    width: 150px;
    height: 190px;
    transition: transform .2s ease-out;
    position: relative;
}

.carta-en-vivo-cats .imagen{
    width: 150px;
    height: 190px;
    transition: transform .2s ease-out;
    position: relative;
}

.carta-en-vivo-cats .imagen:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #9147ff;
    z-index: -1;
}



.carta-en-vivo-cats .imagen img:hover{
    transform: translate(5px, -7px);
}

.d-flex{
    display: flex;
}

.logo{
    width: 35px!important;
    height: 35px!important;
    border-radius: 50%;
    margin-top: 10px;
    margin-right: 10px;
}

.carta-en-vivo-cats .texto {
    font-family: Roobert, Inter, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: start;
    letter-spacing: normal;
    color: #efeff1;
}

.carta-en-vivo-cats .texto .full-texto{
    background-color: rgba(68, 68, 68, 0.85);
    color: #adadb8;
    padding: 2px;
    display: none;
    font-size: 13px;
    line-height: 19.5px;
    position: absolute;
    border: 1px solid white;
}

.carta-en-vivo-cats .texto h4{
    max-width: 120px;
    font-size: 13px;
    line-height: 19.5px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    margin: 10px 0 0 0;
    box-sizing: border-box;
    pointer-events:none;
}

.carta-en-vivo-cats .texto h4:after {
    content:"";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    z-index: 1;
    border: 1px solid rgb(255,255,255,0);
    pointer-events:initial;
}

.carta-en-vivo-cats .texto h4:hover + .full-texto{
    display: block;
} 

.carta-en-vivo-cats .texto p{
    color: #adadb8;
    font-size: 13px;
    line-height: 19.5px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.carta-en-vivo-cats .texto h4:hover{
    color: #a970ff;
    cursor:context-menu;
}


.carta-en-vivo-cats .texto p:hover{
    color: #a970ff;
    cursor:context-menu;
}

.carta-en-vivo-cats .texto .tags{
    margin-top: 8px;
}

.carta-en-vivo-cats .texto .tag{
    background-color: rgb(255, 255, 255, 0.15);
    color: rgb(255, 255, 255, 0.70);
    padding: 2px 8px;
    margin-right: 7px;
    border-radius: 15%/50%;
    font-size: 12px;
}

.carta-en-vivo-cats .texto .tag:hover{
    background-color: rgb(255, 255, 255, 0.2);
    color: rgb(255, 255, 255, 0.70);
    padding: 2px 8px;
    margin-right: 7px;
    border-radius: 15%/50%;
    font-size: 12px;
    cursor:context-menu;
}

.carta-en-vivo-cats .vermas{
    margin-top: 10px;
    margin-left: auto;
}

.carta-en-vivo-cats svg{
    padding: 4px;
}

.carta-en-vivo-cats svg:hover{
    background-color: rgb(255, 255, 255, 0.2);
    color: #efeff1;
    border-radius: 4px;
    cursor: hand;
}

.carta-en-vivo-cats svg{
    fill: #efeff1;
}