
.header{
    height: 50px;
    width: 100%;
    background-color: #18181b;
    display: flex;
    align-items: center;
    position: fixed;
}

.header-elemento{
    padding: 13px 20px;
    line-height: 19.5px;
}

.header-elemento h1{
    font-family: 'Roobert', 'Inter', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #efeff1;
}

.header-elemento img{
    color: #efeff1;
    background-color: #efeff1;
}

.header-elemento-svg{
    padding: 4px;
}

.header-elemento-svg:hover{
    background-color: rgb(255, 255, 255, 0.2);
    color: #efeff1;
    border-radius: 4px;
}

.header-elemento-svg svg{
    fill: #efeff1;
}


