/*Side-Bar normal*/
.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1f1f23;
    overflow-x: hidden;
    margin-top: 50px;
    padding-top: 10px;
    font-family: nter, Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.margin-right-240{
    margin-right: 240px;
}
  
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 13px;
    line-height: 19.5px;
    color: #efeff1;
    display: block;
}

.sidebar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-section h3{
    padding: 5px 10px 0px 10px;
    color: #efeff1;
    font-size: 13px;
    line-height: 19.5px;
    margin: 0;
    letter-spacing: -0.2px;
    font-weight: 550;
}

.sidebar-section button{
    background-color: transparent;
    border: none;
    cursor: hand;
}

.sidebar-section svg{
    margin-right: 10px;
}
  
.sidebar a:hover {
    color: #f1f1f1;
}


/*Side-Bar colapsado*/
.sidebar-collapsed{
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1f1f23;
    overflow-x: hidden;
    margin-top: 50px;
    padding-top: 10px;
    font-family: nter, Roobert, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    align-items:  center;
    flex-direction: column;
    
}

.margin-right-50{
    margin-right: 50px;
}

.sidebar-section-collapsed{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
}

.sidebar-collapsed-svg svg{
    padding: 4px;
    fill: #adadb8;
    margin: 5px 0 3px 0;
}

.sidebar-section-collapsed img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
}

.away{
    filter: grayscale(100%) brightness(85%)
}

/*SVG*/
.sidebar-svg svg{
    padding: 4px;
    fill: #efeff1;
}

.sidebar-svg svg:hover{
    background-color: rgb(255, 255, 255, 0.2);
    color: #efeff1;
    border-radius: 4px;
}

.mb-custom{
    margin-bottom: 13px;
}

.mb-custom2{
    margin-bottom: -3px;
}
