body{
    margin: 0;
    background-color: #0e0e10;
}

::-webkit-scrollbar{
    background: transparent;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #adadb8;
    opacity: 50%;
    border-radius: 6px;
    border: 2px solid #adadb8;
}

::-webkit-scrollbar-track{
    background: transparent;
}