::-webkit-scrollbar{
    background: transparent;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #adadb8;
    opacity: 50%;
    border-radius: 6px;
    border: 2px solid #adadb8;
}

::-webkit-scrollbar-track{
    background: transparent;
}

body{
    margin: 0;
    background-color: #0e0e10;
    width: 99vw;
}

.body-principal{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    flex-basis: 0;
    flex-grow: 1;
}

.body-principal img{
    width: 100%;
    
}

.d-flex{
    display: flex;
}

.linea-full{
    width: 100%;
    border-top: 0.5px solid rgb(255,255,255,0.2);
    position: relative;
    transform: translateY(50%);
    margin: 20px 0;
}